html, body {
    height: 100%;
    margin: 0;
    background-color: white;
}

#root {
    height: 100%;
}

.App {
    background-color: bisque;
    height: 100%
}

.RightPart {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;
}